USE [00_RestaurantManagementSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2025 2:13:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BillNumber] [nvarchar](50) NOT NULL,
	[BillDate] [datetime2](7) NOT NULL,
	[SubTotal] [decimal](12, 2) NOT NULL,
	[TaxAmount] [decimal](10, 2) NOT NULL,
	[ServiceCharge] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NULL,
	[PaidAmount] [decimal](12, 2) NOT NULL,
	[ChangeAmount] [decimal](10, 2) NOT NULL,
	[StaffID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboDetails]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboDetails](
	[ComboDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionComboID] [int] NOT NULL,
	[MenuItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ComboDetails] PRIMARY KEY CLUSTERED 
(
	[ComboDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[LoyaltyPoints] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[MenuItemID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsAvailable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[MenuItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MenuItemID] [int] NULL,
	[PromotionComboID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[TotalPrice] [decimal](12, 2) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[TableID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerPhone] [nvarchar](15) NULL,
	[StaffID] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionCombos]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionCombos](
	[PromotionComboID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[ComboName] [nvarchar](100) NOT NULL,
	[ComboPrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_PromotionCombos] PRIMARY KEY CLUSTERED 
(
	[PromotionComboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionItems]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionItems](
	[PromotionItemID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[MenuItemID] [int] NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK_PromotionItems] PRIMARY KEY CLUSTERED 
(
	[PromotionItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionTypeID] [int] NOT NULL,
	[PromotionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[DiscountValue] [decimal](10, 2) NULL,
	[MaxDiscountAmount] [decimal](10, 2) NULL,
	[BuyQuantity] [int] NULL,
	[GetQuantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionTypes]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionTypes](
	[PromotionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_PromotionTypes] PRIMARY KEY CLUSTERED 
(
	[PromotionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionUsages]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionUsages](
	[PromotionUsageID] [int] IDENTITY(1,1) NOT NULL,
	[PromotionID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[DiscountApplied] [decimal](10, 2) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PromotionUsages] PRIMARY KEY CLUSTERED 
(
	[PromotionUsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QRSessions]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QRSessions](
	[QRSessionID] [int] IDENTITY(1,1) NOT NULL,
	[TableID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[SessionStart] [datetime2](7) NOT NULL,
	[SessionEnd] [datetime2](7) NULL,
	[SessionToken] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_QRSessions] PRIMARY KEY CLUSTERED 
(
	[QRSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffSchedules]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[WorkShiftID] [int] NOT NULL,
	[ScheduleDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_StaffSchedules] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[TableID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneID] [int] NOT NULL,
	[TableNumber] [nvarchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[QRCode] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkShifts]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkShifts](
	[WorkShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](50) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_WorkShifts] PRIMARY KEY CLUSTERED 
(
	[WorkShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 6/17/2025 2:13:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[ZoneID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250616182539_KhoitaoDB', N'8.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250616190645_SeedingData_1', N'8.0.17')
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Khai vị', N'Món ăn khai vị và nhẹ', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Món chính', N'Món ăn chính', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Tráng miệng', N'Món tráng miệng ngọt', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ComboDetails] ON 

INSERT [dbo].[ComboDetails] ([ComboDetailID], [PromotionComboID], [MenuItemID], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ComboDetails] ([ComboDetailID], [PromotionComboID], [MenuItemID], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[ComboDetails] ([ComboDetailID], [PromotionComboID], [MenuItemID], [Quantity]) VALUES (3, 1, 4, 2)
SET IDENTITY_INSERT [dbo].[ComboDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [PhoneNumber], [FullName], [Email], [LoyaltyPoints], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'0912345678', N'Hoàng Văn Em', N'khachhang1@gmail.com', CAST(50.00 AS Decimal(10, 2)), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Customers] ([CustomerID], [PhoneNumber], [FullName], [Email], [LoyaltyPoints], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'0912345679', N'Nguyễn Thị Phượng', N'khachhang2@gmail.com', CAST(20.00 AS Decimal(10, 2)), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([MenuItemID], [CategoryID], [ItemName], [Description], [Price], [Cost], [ImageURL], [IsAvailable], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Chả giò', N'Chả giò giòn với rau củ', CAST(50000.00 AS Decimal(10, 2)), CAST(20000.00 AS Decimal(10, 2)), N'cha_gio.jpg', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[MenuItems] ([MenuItemID], [CategoryID], [ItemName], [Description], [Price], [Cost], [ImageURL], [IsAvailable], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 2, N'Gà nướng', N'Gà nướng với thảo mộc', CAST(150000.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)), N'ga_nuong.jpg', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[MenuItems] ([MenuItemID], [CategoryID], [ItemName], [Description], [Price], [Cost], [ImageURL], [IsAvailable], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 3, N'Bánh sô-cô-la', N'Bánh sô-cô-la đậm đà', CAST(80000.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(10, 2)), N'banh_socolate.jpg', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [PromotionComboID], [Quantity], [UnitPrice], [DiscountAmount], [TotalPrice], [Notes], [Status], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, 1, NULL, 3, CAST(50000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(12, 2)), NULL, N'Preparing', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [PromotionComboID], [Quantity], [UnitPrice], [DiscountAmount], [TotalPrice], [Notes], [Status], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, 2, NULL, 1, CAST(150000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(12, 2)), N'Preparing', N'Preparing', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [MenuItemID], [PromotionComboID], [Quantity], [UnitPrice], [DiscountAmount], [TotalPrice], [Notes], [Status], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 1, 4, NULL, 3, CAST(25000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(75000.00 AS Decimal(12, 2)), NULL, N'Preparing', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionCombos] ON 

INSERT [dbo].[PromotionCombos] ([PromotionComboID], [PromotionID], [ComboName], [ComboPrice], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 3, N'Combo Gia đình A', CAST(350000.00 AS Decimal(10, 2)), 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PromotionCombos] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionItems] ON 

INSERT [dbo].[PromotionItems] ([PromotionItemID], [PromotionID], [MenuItemID], [CategoryID]) VALUES (1, 2, 3, NULL)
INSERT [dbo].[PromotionItems] ([PromotionItemID], [PromotionID], [MenuItemID], [CategoryID]) VALUES (2, 1, NULL, 2)
SET IDENTITY_INSERT [dbo].[PromotionItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([PromotionID], [PromotionTypeID], [PromotionName], [Description], [StartDate], [EndDate], [DiscountValue], [MaxDiscountAmount], [BuyQuantity], [GetQuantity], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Giảm 10%', N'Giảm 10% trên tổng hóa đơn', CAST(N'2025-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-30T00:00:00.0000000' AS DateTime2), CAST(10.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), NULL, NULL, 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Promotions] ([PromotionID], [PromotionTypeID], [PromotionName], [Description], [StartDate], [EndDate], [DiscountValue], [MaxDiscountAmount], [BuyQuantity], [GetQuantity], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 3, N'Mua 2 tặng 1', N'Mua 2 món tráng miệng tặng 1 miễn phí', CAST(N'2025-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-30T00:00:00.0000000' AS DateTime2), NULL, NULL, 2, 1, 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Promotions] ([PromotionID], [PromotionTypeID], [PromotionName], [Description], [StartDate], [EndDate], [DiscountValue], [MaxDiscountAmount], [BuyQuantity], [GetQuantity], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 4, N'Combo Gia đình', N'Combo đặc biệt cho gia đình', CAST(N'2025-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-06-30T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionTypes] ON 

INSERT [dbo].[PromotionTypes] ([PromotionTypeID], [TypeName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Phần trăm', N'Giảm giá theo phần trăm', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[PromotionTypes] ([PromotionTypeID], [TypeName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Số tiền cố định', N'Giảm giá bằng số tiền cố định', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[PromotionTypes] ([PromotionTypeID], [TypeName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Mua X tặng Y', N'Mua X món tặng Y món miễn phí', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PromotionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionUsages] ON 

INSERT [dbo].[PromotionUsages] ([PromotionUsageID], [PromotionID], [OrderID], [DiscountApplied], [UsedAt]) VALUES (1, 1, 2, CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-06-17T12:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PromotionUsages] OFF
GO
SET IDENTITY_INSERT [dbo].[QRSessions] ON 

INSERT [dbo].[QRSessions] ([QRSessionID], [TableID], [CustomerID], [SessionStart], [SessionEnd], [SessionToken], [IsActive]) VALUES (1, 1, 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL, N'SESSION_001', 1)
INSERT [dbo].[QRSessions] ([QRSessionID], [TableID], [CustomerID], [SessionStart], [SessionEnd], [SessionToken], [IsActive]) VALUES (2, 2, 2, CAST(N'2025-06-17T12:30:00.0000000' AS DateTime2), NULL, N'SESSION_002', 1)
SET IDENTITY_INSERT [dbo].[QRSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [OrderID], [CustomerID], [Rating], [Comment], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, 1, 5, N'Dịch vụ tuyệt vời, món ăn ngon!', CAST(N'2025-06-17T12:30:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:30:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Reviews] ([ReviewID], [OrderID], [CustomerID], [Rating], [Comment], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 2, 2, 4, N'Món ăn ngon nhưng phục vụ hơi chậm.', CAST(N'2025-06-17T13:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T13:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Quản lý', N'Quản lý nhà hàng', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Phục vụ', N'Nhân viên phục vụ', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Đầu bếp', N'Đầu bếp nhà bếp', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([StaffID], [RoleID], [FullName], [PhoneNumber], [Email], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'Nguyễn Văn An', N'0901234567', N'quanly@nhahang.com', N'hashed_password_1', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Staffs] ([StaffID], [RoleID], [FullName], [PhoneNumber], [Email], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 2, N'Trần Thị Bình', N'0901234568', N'phucvu1@nhahang.com', N'hashed_password_2', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Staffs] ([StaffID], [RoleID], [FullName], [PhoneNumber], [Email], [PasswordHash], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 3, N'Lê Văn Cường', N'0901234569', N'daubep1@nhahang.com', N'hashed_password_3', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffSchedules] ON 

INSERT [dbo].[StaffSchedules] ([ScheduleID], [StaffID], [WorkShiftID], [ScheduleDate], [Notes], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, 1, CAST(N'2025-06-17T00:00:00.0000000' AS DateTime2), N'Quản lý ca sáng', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[StaffSchedules] ([ScheduleID], [StaffID], [WorkShiftID], [ScheduleDate], [Notes], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 2, 2, CAST(N'2025-06-17T00:00:00.0000000' AS DateTime2), N'Phục vụ ca chiều', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[StaffSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([TableID], [ZoneID], [TableNumber], [Capacity], [QRCode], [Status], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, 1, N'B01', 4, N'QR_B01', N'Maintenance', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tables] ([TableID], [ZoneID], [TableNumber], [Capacity], [QRCode], [Status], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, 1, N'B02', 4, N'QR_B02', N'Reserved', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tables] ([TableID], [ZoneID], [TableNumber], [Capacity], [QRCode], [Status], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, 2, N'B03', 6, N'QR_B03', N'Occupied', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Tables] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkShifts] ON 

INSERT [dbo].[WorkShifts] ([WorkShiftID], [ShiftName], [StartTime], [EndTime], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Ca Sáng', CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time), N'Ca làm việc buổi sáng', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[WorkShifts] ([WorkShiftID], [ShiftName], [StartTime], [EndTime], [Description], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Ca Chiều', CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time), N'Ca làm việc buổi chiều', CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[WorkShifts] OFF
GO
SET IDENTITY_INSERT [dbo].[Zones] ON 

INSERT [dbo].[Zones] ([ZoneID], [ZoneName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (1, N'Tầng 1', N'Khu vực ăn uống chính tầng 1', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Zones] ([ZoneID], [ZoneName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (2, N'Tầng 2', N'Khu vực ăn uống riêng tư tầng 2', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Zones] ([ZoneID], [ZoneName], [Description], [IsActive], [CreatedAt], [UpdatedAt], [UpdatedBy]) VALUES (3, N'Phòng VIP', N'Phòng ăn VIP độc quyền', 1, CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), CAST(N'2025-06-17T12:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Zones] OFF
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Orders_OrderID]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Staffs_StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Staffs_StaffID]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[ComboDetails]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetails_MenuItems_MenuItemID] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboDetails] CHECK CONSTRAINT [FK_ComboDetails_MenuItems_MenuItemID]
GO
ALTER TABLE [dbo].[ComboDetails]  WITH CHECK ADD  CONSTRAINT [FK_ComboDetails_PromotionCombos_PromotionComboID] FOREIGN KEY([PromotionComboID])
REFERENCES [dbo].[PromotionCombos] ([PromotionComboID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboDetails] CHECK CONSTRAINT [FK_ComboDetails_PromotionCombos_PromotionComboID]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Categories_CategoryID]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_MenuItems_MenuItemID] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_MenuItems_MenuItemID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_PromotionCombos_PromotionComboID] FOREIGN KEY([PromotionComboID])
REFERENCES [dbo].[PromotionCombos] ([PromotionComboID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_PromotionCombos_PromotionComboID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staffs_StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staffs_StaffID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Tables_TableID] FOREIGN KEY([TableID])
REFERENCES [dbo].[Tables] ([TableID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Tables_TableID]
GO
ALTER TABLE [dbo].[PromotionCombos]  WITH CHECK ADD  CONSTRAINT [FK_PromotionCombos_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionCombos] CHECK CONSTRAINT [FK_PromotionCombos_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[PromotionCombos]  WITH CHECK ADD  CONSTRAINT [FK_PromotionCombos_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[PromotionCombos] CHECK CONSTRAINT [FK_PromotionCombos_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[PromotionItems]  WITH CHECK ADD  CONSTRAINT [FK_PromotionItems_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[PromotionItems] CHECK CONSTRAINT [FK_PromotionItems_Categories_CategoryID]
GO
ALTER TABLE [dbo].[PromotionItems]  WITH CHECK ADD  CONSTRAINT [FK_PromotionItems_MenuItems_MenuItemID] FOREIGN KEY([MenuItemID])
REFERENCES [dbo].[MenuItems] ([MenuItemID])
GO
ALTER TABLE [dbo].[PromotionItems] CHECK CONSTRAINT [FK_PromotionItems_MenuItems_MenuItemID]
GO
ALTER TABLE [dbo].[PromotionItems]  WITH CHECK ADD  CONSTRAINT [FK_PromotionItems_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionItems] CHECK CONSTRAINT [FK_PromotionItems_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_PromotionTypes_PromotionTypeID] FOREIGN KEY([PromotionTypeID])
REFERENCES [dbo].[PromotionTypes] ([PromotionTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_PromotionTypes_PromotionTypeID]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Promotions_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Promotions_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[PromotionTypes]  WITH CHECK ADD  CONSTRAINT [FK_PromotionTypes_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[PromotionTypes] CHECK CONSTRAINT [FK_PromotionTypes_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[PromotionUsages]  WITH CHECK ADD  CONSTRAINT [FK_PromotionUsages_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionUsages] CHECK CONSTRAINT [FK_PromotionUsages_Orders_OrderID]
GO
ALTER TABLE [dbo].[PromotionUsages]  WITH CHECK ADD  CONSTRAINT [FK_PromotionUsages_Promotions_PromotionID] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionUsages] CHECK CONSTRAINT [FK_PromotionUsages_Promotions_PromotionID]
GO
ALTER TABLE [dbo].[QRSessions]  WITH CHECK ADD  CONSTRAINT [FK_QRSessions_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[QRSessions] CHECK CONSTRAINT [FK_QRSessions_Customers_CustomerID]
GO
ALTER TABLE [dbo].[QRSessions]  WITH CHECK ADD  CONSTRAINT [FK_QRSessions_Tables_TableID] FOREIGN KEY([TableID])
REFERENCES [dbo].[Tables] ([TableID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QRSessions] CHECK CONSTRAINT [FK_QRSessions_Tables_TableID]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Orders_OrderID]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Roles_RoleID]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_Staffs_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_Staffs_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[StaffSchedules]  WITH CHECK ADD  CONSTRAINT [FK_StaffSchedules_Staffs_StaffID] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staffs] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffSchedules] CHECK CONSTRAINT [FK_StaffSchedules_Staffs_StaffID]
GO
ALTER TABLE [dbo].[StaffSchedules]  WITH CHECK ADD  CONSTRAINT [FK_StaffSchedules_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[StaffSchedules] CHECK CONSTRAINT [FK_StaffSchedules_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[StaffSchedules]  WITH CHECK ADD  CONSTRAINT [FK_StaffSchedules_WorkShifts_WorkShiftID] FOREIGN KEY([WorkShiftID])
REFERENCES [dbo].[WorkShifts] ([WorkShiftID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffSchedules] CHECK CONSTRAINT [FK_StaffSchedules_WorkShifts_WorkShiftID]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_Tables_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_Tables_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_Tables_Zones_ZoneID] FOREIGN KEY([ZoneID])
REFERENCES [dbo].[Zones] ([ZoneID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_Tables_Zones_ZoneID]
GO
ALTER TABLE [dbo].[WorkShifts]  WITH CHECK ADD  CONSTRAINT [FK_WorkShifts_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[WorkShifts] CHECK CONSTRAINT [FK_WorkShifts_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Zones]  WITH CHECK ADD  CONSTRAINT [FK_Zones_Staffs_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Staffs] ([StaffID])
GO
ALTER TABLE [dbo].[Zones] CHECK CONSTRAINT [FK_Zones_Staffs_UpdatedBy]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [CK_Bills_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [CK_Bills_TotalAmount]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Status] CHECK  (([Status]='Cancelled' OR [Status]='Paid' OR [Status]='Served' OR [Status]='Ready' OR [Status]='Preparing' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Orders_Status]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Rating] CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Rating]
GO
